{# wiki_index.html
   ===============

An index of the files in a fiolder in a wiki
#}
{% extends "generic_10_2.html" %}

{% block wikiCommands %}
<p class="command-header">Commands</p>

<!--
<p>...stuff goes here...</p>

<p><a class='btn btn-default'
href="/{{siteName}}/w/{{pathName}}">
<i class='fa fa-sort-alpha-asc'></i> Sort by name</a></p>

<p><a class='btn btn-default'
href="/{{siteName}}/w/{{pathName}}?sort=newest">
<i class='fas fa-sort-amount-up'></i> Sort newest first</a></p>

<p><a class='btn btn-default'
href="/{{siteName}}/w/{{pathName}}?sort=oldest">
<i class='fas fa-sort-amount-down-alt'></i> Sort oldest first</a></p>
-->
{% endblock wikiCommands %}

{% block wikiContents %}
<div class="wiki-index">
  {{wikiText}}
</div>
<br><br>
{% endblock wikiContents %}

{# end #}
